html,
body {
  height: 100%;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
}

.homepage {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  gap: 50px;
}

/* LANDING PAGE */

/* Most of the landing page was actually inspired by my assignment 2 project, 
I just need to adjust few things, like the size, color and font style */

.image-title {
  width: 800px;
}

.explore-button {
  background-color: rgba(237, 76, 64, 1);
  font-family: League Spartan;
  font-weight: 600;
  width: 300px;
  height: 70px;
  color: rgba(248, 246, 242, 1);
  padding: 18px;
  text-decoration: none;
  font-size: 32px;
  cursor: pointer;
  border-radius: 25px;
  border-bottom: 8px solid rgba(214, 48, 36, 1);
  transition: all 0.2s ease;
  margin-top: -30px;
}

.explore-button:hover {
  transform: translateY(6px);
  border-bottom-color: transparent;
}

.explore-button:active {
  background-color: rgba(214, 48, 36, 1);
}

p {
  font-family: League Spartan;
  font-weight: 300;
  color: rgba(248, 246, 242, 1);
  font-size: 32px;
  margin-top: 30px;
}

/* MAP PAGE */

/* I positioned the island one by one by copying the exact location from my Figma design,
but I adjusted some of it manually based on the preview, moving it further for some island that are too close */

.logo {
  width: 220px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 800px;
}
.sumatra {
  position: absolute;
  width: 287px;
  height: 376px;
  left: 153px;
  top: 265px;
  /* bottom: 321px; */
  flex-shrink: 0;
  cursor: pointer;
}

.kalimantan {
  position: absolute;
  width: 314px;
  height: 391px;
  left: 464px;
  top: 174px;
  /* bottom: 417px; */
  flex-shrink: 0;
  cursor: pointer;
}

.sulawesi {
  position: absolute;
  width: 260px;
  height: 346px;
  left: 820px;
  top: 320px;
  flex-shrink: 0;
  cursor: pointer;
}

.maluku {
  position: absolute;
  width: 199px;
  height: 258px;
  left: 1110px;
  top: 300px;
  flex-shrink: 0;
  cursor: pointer;
}

.papua {
  position: absolute;
  width: 290px;
  height: 278px;
  left: 1330px;
  top: 410px;
  flex-shrink: 0;
  cursor: pointer;
}

.jawa {
  position: absolute;
  width: 299px;
  height: 122px;
  left: 450px;
  top: 650px;
  flex-shrink: 0;
  cursor: pointer;
}

.bali {
  position: absolute;
  width: 69px;
  height: 66px;
  left: 770px;
  top: 740px;
  flex-shrink: 0;
  cursor: pointer;
}

.ntt {
  position: absolute;
  width: 382px;
  height: 130px;
  left: 855px;
  top: 720px;
  flex-shrink: 0;
  cursor: pointer;
}

/* POPUP SECTION */
.popup {
  width: 400px;
  min-height: 460px;
  border-radius: 20px;
  background: #ed4c40;
  box-shadow: 0px 3px 20px 2px rgba(0, 0, 0, 0.1);
  top: 272px;
  left: 390px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: none; /* Hide the popup initially */
  position: absolute;
  padding: 30px;
}
/* I decided to keep the box square without the triangle arrow pointing to the island
because I'll have to allign the triangle one by one for each island because each island's shape is unique,
thus I have to move the arrow manually. furthermore, I think it doesn't make a big difference, because it's 
pretty obvious that the popup button is for the island that is highlighted white or clicked state */

#close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 44px;
  color: #f8f6f2;
  cursor: pointer;
}

#popup-image {
  width: 324px;
  height: 210px;
  margin-left: auto;
  margin-right: auto;
}

header {
  color: #f8f6f2;
  font-family: "League Spartan";
  font-size: 40px;
  text-align: left;
  font-weight: 700;
  line-height: normal;
}
.explanation {
  color: #fefefe;
  font-family: "League Spartan";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

/* buttons on pop up */

.button {
  width: 110px;
  height: 47px;
  border-radius: 20px;
  /* text-align: center; */
  font-family: "League Spartan";
  font-size: 16px;
  background: #f8f6f2;
  color: #ed4c40;
  padding: 16px;
  margin: 10px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
}

h1,
.back {
  font-family: "League Spartan";
  font-size: 25px;
}

h2 {
  font-family: "League Spartan";
  font-size: 16px;
}
